[build]
builder = "nixpacks"

[deploy]
startCommand = "pip install uvicorn fastapi yt-dlp groq && python app.py"
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
